html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  color: $main-font-color;
  font-size: 15px;
  line-height: 30px;
  padding-top: 80px;
  @media ($tablet-width) {
    padding-top: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.container {
  min-width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  @media ($tablet-width) {
    max-width: 668px;
    padding: 0;
  }

  @media ($desktop-width) {
    max-width: 1050px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.section-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  @media ($tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media ($desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
