$first-font: "Open Sans";
$font-sans-serif-fallback: arial, helvetica, sans-serif;
$main-font: $first-font, $font-sans-serif-fallback;

$main-font-color: #444444;
$black: #000000;
$aquamarine: #46c1ae;

$mobile-width-only: ("max-width: 767px");
$tablet-width: ("min-width: 768px");
$desktop-width: ("min-width: 1250px");
