.advantages {
  @media ($tablet-width) {
    padding-top: 10px;
  }

  @media ($desktop-width) {
    padding-top: 16px;
    padding-left: 175px;
    padding-right: 175px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    list-style: none;

    @media ($tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media ($desktop-width) {
      padding-top: 2px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 27px;
    padding-top: 56px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;

    @media ($tablet-width) {
      width: 50%;
      margin-bottom: 56px;
      font-size: 20px;
      line-height: 22px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 60px;
      height: 40px;
      background-repeat: no-repeat;
    }

    &--1 {
      @media ($tablet-width) {
        order: 1;
      }
    }

    &--1::before {
      background-image: url("/img/icon-feature-1.svg");
      background-position: 9px 0;
    }

    &--2 {
      @media ($tablet-width) {
        order: 3;
      }
    }

    &--2::before {
      background-image: url("/img/icon-feature-3.svg");
      background-position: 0 2px;
    }

    &--3 {
      @media ($tablet-width) {
        order: 5;
      }
    }

    &--3::before {
      background-image: url("/img/icon-feature-5.svg");
      background-position: 9px 7px;
    }

    &--4 {
      @media ($tablet-width) {
        order: 2;
      }
    }

    &--4::before {
      background-image: url("/img/icon-feature-2.svg");
      background-position: 4px 4px;
    }

    &--5 {
      @media ($tablet-width) {
        order: 4;
      }
    }

    &--5::before {
      left: -6px;
      background-image: url("/img/icon-feature-4.svg");
      background-position: 0px 5px;
    }

    &--6 {
      @media ($tablet-width) {
        order: 6;
      }
    }

    &--6::before {
      background-image: url("/img/icon-feature-6.svg");
      background-position: 4px 3px;
    }
  }

  & .section-title {
    margin-left: -5px;
  }
}
