.advantages {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    list-style: none;
  }

  &__item {
    position: relative;
    margin-bottom: 27px;
    padding-top: 56px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 60px;
      height: 40px;
      background-repeat: no-repeat;
      outline: 1px solid red;
    }

    &--1::before {
      background-image: url("/img/icon-feature-1.svg");
      background-position: 9px 0;
    }

    &--2::before {
      background-image: url("/img/icon-feature-3.svg");
      background-position: 0 2px;
    }

    &--3::before {
      background-image: url("/img/icon-feature-5.svg");
      background-position: 9px 7px;
    }

    &--4::before {
      background-image: url("/img/icon-feature-2.svg");
      background-position: 4px 4px;
    }

    &--5::before {
      left: -6px;
      background-image: url("/img/icon-feature-4.svg");
      background-position: 0px 5px;
    }

    &--6::before {
      background-image: url("/img/icon-feature-6.svg");
      background-position: 4px 3px;
    }
  }
}
