.basket {
  &__link {
    display: block;
    padding: 22px 10px 25px;
    padding-left: 31px;
    border-top: 1px solid #ececec;
    opacity: 1;
    transition: all 0.3s;
    /* text-align: center; */

    &:active {
      opacity: 0.3;
    }

    @media ($tablet-width) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88px;
      padding: 0;
      padding-bottom: 3px;
      padding-left: 35px;
      border-top: none;
    }
  }

  &__link svg {
    width: 20px;
    height: 20px;
    fill: #d3d2d2;
    transition: all 0.3s;
  }

  &__link:hover svg {
    fill: #63d1bb;
  }

  &__icon {
    position: relative;
    top: 6px;
  }



  &__status {
    margin-left: 20px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: $black;
    text-decoration: none;
    opacity: 1;
    transition: all 0.3s;

    @media ($tablet-width) {
      margin-left: 30px;
    }
  }

  &__link:hover &__status {
    opacity: 0.6;
  }
}
