.link {
  display: inline-block;
  color: #444444;
  border-bottom: 1px solid #46c1ae;
  opacity: 1;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: #46c1ae;
    text-decoration: none;
  }

  &:active {
    opacity: 0.3;
  }
}
