.main-header {

  &__top-panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;

    @media ($tablet-width) {
      position: static;
      height: auto;
      border-bottom: none;
    }
  }

  &__logo {
    margin: auto;

    @media ($tablet-width) {
      position: static;
      height: 88px;
      margin: 0;
      margin-left: -13px;
      margin-right: auto;
      padding-top: 7px;
      z-index: 100;
    }
  }

  &__menu-toggle {
    position: absolute;
    top: 28px;
    right: 29px;

    @media ($tablet-width) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 100;
    transition: all 0.3s ease-in;

    @media ($tablet-width) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      z-index: 50;
      display: flex;
      justify-content: flex-end;
      transform: translate(-50%);
      border-bottom: none;
      opacity: 1;
    }
  }

  &__nav {
    @media ($tablet-width) {
      position: absolute;
      left: 0;
      top: 106px;
      padding-left: 6px;
    }
  }

  &__basket {
    @media ($tablet-width) {
      margin-right: -8px;
    }
  }

  &__service-panel {
    @media($tablet-width) {
      display: flex;
    }
  }

  &__menu.js-active {
    opacity: 1;
    transform: translateX(0);
  }

  &__bottom-panel {
    padding-top: 250px;
    background-color: #eeeeee;

    @media ($tablet-width) {
      border-top: 1px solid #ececec;
    }
  }
}
