.main-header {

  &__top-panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;

    @media ($tablet-width) {
      position: static;
      height: auto;
      border-bottom: none;
    }
  }

  &__logo {
    margin: auto;

    @media ($tablet-width) {
      position: static;
      height: 88px;
      margin: 0;
      margin-left: -21px;
      margin-right: auto;
      padding-top: 7px;
      z-index: 100;
    }

    @media ($desktop-width) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
    }
  }

  &__menu-toggle {
    position: absolute;
    top: 28px;
    right: 29px;

    @media ($tablet-width) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 100;
    transition: all 0.3s ease-in;

    @media ($tablet-width) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      z-index: 50;
      display: flex;
      justify-content: flex-end;
      transform: translate(-50%);
      border-bottom: none;
      opacity: 1;
    }

    @media ($desktop-width) {
      position: static;
      justify-content: space-between;
      transform: translate(0);
    }
  }

  &__nav {
    @media ($tablet-width) {
      position: absolute;
      left: 0;
      top: 106px;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    @media ($desktop-width) {
      position: static;
      width: auto;
    }
  }

  &__basket {
    @media ($tablet-width) {

    }
  }

  &__service-panel {
    @media ($tablet-width) {
      display: flex;
    }
  }

  &__menu.js-active {
    opacity: 1;
    transform: translateX(0);
  }

  &__promo-text {
    display: none;

    @media ($tablet-width) {
      display: block;
      color: #444444;
      font-size: 15px;
      line-height: 24px;
    }
  }

  &__bottom-panel {
    padding-top: 52px;
    background-color: #fafafa;
    background-image: url("/img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -19px;
    background-size: 575px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/hero-mobile@2x.jpg");
    }

    @media ($tablet-width) {
      border-top: 1px solid #ececec;
    }
  }

  &__bottom-panel .section-title {
    margin-bottom: 122px;
    text-align: center;
  }
}
