.main-header {

  &__top-panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
    z-index: 100;

    @media ($tablet-width) {
      position: static;
      height: auto;
      border-bottom: none;
    }
  }

  &__logo {
    margin: auto;

    @media ($tablet-width) {
      position: static;
      height: 88px;
      margin: 0;
      margin-left: -21px;
      margin-right: auto;
      padding-top: 7px;
      z-index: 100;
    }

    @media ($desktop-width) {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      margin-left: 0;
    }
  }

  &__menu-toggle {
    position: absolute;
    top: 28px;
    right: 29px;

    @media ($tablet-width) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 100;
    transition: all 0.3s ease-in;

    @media ($tablet-width) {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      z-index: 50;
      display: flex;
      justify-content: flex-end;
      transform: translate(-50%);
      border-bottom: none;
      opacity: 1;
    }

    @media ($desktop-width) {
      position: static;
      justify-content: space-between;
      transform: translate(0);
    }
  }

  &__nav {
    @media ($tablet-width) {
      position: absolute;
      left: 0;
      top: 106px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-right: 50%;
    }

    @media ($desktop-width) {
      position: static;
      width: auto;
      padding-right: 0;
    }
  }

  &__basket {
    @media ($tablet-width) {

    }
  }

  &__service-panel {
    @media ($tablet-width) {
      display: flex;
    }
  }

  &__menu.js-active {
    opacity: 1;
    transform: translateX(0);
  }

  &__bottom-panel {
    padding-top: 52px;
    background-color: #fafafa;
    background-image: url("/img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -19px;
    background-size: 575px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/hero-mobile@2x.jpg");
    }

    @media ($tablet-width) {
      position: relative;
      padding-top: 626px;
      background-image: url("/img/hero-desktop@1x.jpg");
      background-size: 1150px auto;
      background-position: 50% 0;
      border-top: 1px solid #ececec;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("/img/hero-desktop@2x.jpg");
      }
    }

    @media ($desktop-width) {
      padding-top: 626px;
      background-size: 1250px 746px;
    }
  }

  &__bottom-panel .section-title {
    width: 260px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 122px;
    text-align: center;
    font-size: 27px;

    @media ($tablet-width) {
      width: 530px;
      position: absolute;
      top: 124px;
      z-index: 5;
      left: 50%;
      margin-bottom: 0;
      font-size: 43px;
      transform: translateX(-50%);
    }

    @media ($desktop-width) {
      width: 700px;
      top: 118px;
      font-size: 53px;
    }
  }

  &__sub-menu {
    @media ($tablet-width) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }


  &__sub-menu-inner {
    @media ($tablet-width) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 668px;
      margin: 0 auto;
      padding-top: 17px;
      padding-left: 300px;
    }

    @media ($desktop-width) {
      max-width: 1050px;
      justify-content: space-between;
      padding-top: 0;
      padding-left: 0;
    }
  }

  &__promo-text {
    display: none;

    @media ($tablet-width) {
      //position: absolute;
      //top: 17px;
      //left: 50%;
      //width: 100%;
      //max-width: 668px;
      display: block;
      //padding-left: 400px;
      color: #444444;
      font-size: 15px;
      line-height: 24px;
      text-align: right;
      //transform: translateX(-50%);
    }

    @media ($desktop-width) {
      //max-width: 1050px;
      //padding-left: 570px;
    }
  }
}
