.main-nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    @media ($tablet-width) {
      display: flex;
    }
  }

  &__item {
    &:not(:first-child) {
      border-top: 1px solid #ececec;

      @media ($tablet-width) {
        border: none;
      }
    }

    &:not(:last-child) {
      @media ($tablet-width) {
        margin-right: 35px;
      }

      @media ($desktop-width) {
        margin-right: 0;
      }
    }

    &:first-child {
      @media ($desktop-width) {
        border-right: 1px solid #ececec;
      }
    }
  }

  &__link {
    display: block;
    padding: 27px 10px;
    padding-left: 75px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: $black;
    text-decoration: none;
    text-align: left;
    opacity: 1;
    transition: all 0.3s;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media ($tablet-width) {
      padding: 0;
      font-size: 15px;
    }

    @media ($desktop-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-left: 35px;
      padding-right: 35px;
      font-size: 17px;
    }
  }

  &__item:first-child &__link {
    padding-left: 0;
  }
}
