.main-header {

  &__top-panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;

    @media ($tablet-width) {
      position: static;
      height: auto;
    }
  }

  &__logo {
    margin: auto;

    @media ($tablet-width) {
      position: static;
      margin: 0;
      margin-right: auto;
      z-index: 100;
    }
  }

  &__menu-toggle {
    position: absolute;
    top: 28px;
    right: 29px;

    @media ($tablet-width) {
      & {
        display: none;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 100;
    transition: all 0.3s ease-in;

    @media ($tablet-width) {
      & {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
        display: flex;
        justify-content: flex-end;
        transform: translate(0);
        opacity: 1;
      }
    }
  }

  &__nav {
    @media ($tablet-width) {
      position: absolute;
      left: 0px;
      top: 85px;
    }
  }

  &__service-panel {
    @media($tablet-width) {
      display: flex;
    }
  }

  &__menu.js-active {
    opacity: 1;
    transform: translateX(0);
  }

  &__bottom-panel {
    padding-top: 250px;
    background-color: #eeeeee;
  }
}
