.main-nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  &__item {
    border-top: 1px solid #ececec;
  }

  &__link {
    display: block;
    padding: 27px 10px;
    padding-left: 75px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: $black;
    text-decoration: none;
    text-align: left;
  }
}
