.product-action {
  position: relative;
  padding-top: 28px;

  @media ($tablet-width) {
    padding-top: 39px;
    padding-bottom: 72px;
  }

  @media ($desktop-width) {
    padding-top: 65px;
    padding-bottom: 95px;
  }

  &::after {
    @media ($tablet-width) {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      bottom: 0;
      height: 23px;
      width: 100%;
      background-image: url("/img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-position: 50% 50%;
      background-size: 100% 23px;
    }

    @media ($desktop-width) {
      background-position: 65%;
      background-size: 1050px;
    }
  }
}
