.promo {
  @media ($tablet-width) {
    position: relative;
  }

  &::after {
    @media ($tablet-width) {
      position: absolute;
      display: block;
      content: "";
      bottom: -11px;
      left: 0;
      width: 100%;
      height: 34px;
      background-image: url("/img/bg-zigzag-fill.svg");
      background-size: 100% 34px;
    }

    @media ($desktop-width) {
      background-size: contain;
      background-position: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    @media ($tablet-width) {
      max-width: 668px;
      flex-direction: row;
      margin: 0 auto;
    }

    @media ($desktop-width) {
      max-width: 1050px;
    }
  }

  &__item {
    @media ($tablet-width) {
      width: 50%;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 27px;
    padding-right: 50%;
    color: #ffffff;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    background-color: #63d1bb;
    text-decoration: none;
    transform: translateY(0);
    transition: all 0.3s;

    @media ($tablet-width) {
      min-height: 125px;
      padding-top: 28px;
      padding-left: 36px;
      padding-bottom: 35px;
      font-size: 20px;
      line-height: 30px;
    }

    @media ($desktop-width) {
      padding-right: 60%;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #63d1bb;
      transform: translateY(0);
      transition: all 0.3s;
    }

    &:hover {
      transform: translateY(-5px);
    }

    &:active {
      color: #97e2d2;
    }

    &:hover::after {
      transform: translateY(5px);
    }
  }

  &__item--toy &__link {
    background-color: #56c3b2;
  }

  &__item--toy &__link::after {
    background-color: #56c3b2;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 27px;
    display: block;
    width: 60px;
    height: 66px;
    background-image: url("/img/icon-interior.svg");
    background-repeat: no-repeat;
    background-size: 40px auto;
    background-position: 50% 4px;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: all 0.3s;

    @media ($tablet-width) {
      top: 60px
    }
  }

  &__item--toy &__icon {
    background-image: url("/img/icon-toy.svg");
    background-size: 60px;

    @media ($tablet-width) {
      right: 33px;
    }
  }

  &__link:hover &__icon {
    opacity: 0.7;
  }

  &__link:active &__icon {
    opacity: 0.3;
  }
}
