.search {
  &__btn {
    display: block;
    padding: 25px 10px 29px;
    padding-left: 31px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    border-top: 1px solid #ececec;
  }

  &__icon {
    position: relative;
    top: 5px;
  }

  &__icon svg {
    width: 18px;
    height: 18px;
  }

  &__label {
    margin-left: 22px;
  }
}
