.search {
  &__btn {
    display: block;
    padding: 25px 10px 29px;
    padding-left: 31px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    border-top: 1px solid #ececec;

    @media ($tablet-width) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 88px;
      width: 84px;
      padding: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
      border-top: none;
    }
  }

  &__btn svg {
    width: 18px;
    height: 18px;
    fill: #d3d2d2;
    transition: all 0.3s;
  }

  &__btn:hover svg {
    fill: #63d1bb;
  }

  &__btn:active svg {
    opacity: 0.3;
  }

  &__icon {
    position: relative;
    top: 5px;
  }



  &__label {
    margin-left: 22px;

    @media ($tablet-width) {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
  }
}
