.slider {
  @media ($tablet-width) {
    position: relative;
  }

  &__control {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid #ececec;

    @media ($tablet-width) {
      position: absolute;
      bottom: 4px;
      right: 0;
      width: 175px;
      margin: 0;
      border: none;
    }
  }

  &__switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #ffffff;
    transition: all 0.3s;

    &:first-child {
      border-right: 1px solid #ececec;

      @media ($tablet-width) {
        border-right: none;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__switch svg {
    width: 50px;
    height: 26px;
  }
}
